root { 
    display: block;
}

html, body {
    background-color: #CCC;
    font-family: arial, helvetica;
    height:100%;
    margin:0;
    padding:0;
}

.title
{
    text-align: center;
}

/* Round Corners */
.rounded
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* Horizontal align */
.h_align
{
    display: inline-block;
}


.centered_content
{
    min-height: 100%;
    background-color: #9CC;
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 30px;
    text-align: center;
}

.central_block
{
    text-align: center;
    margin: 20px;
}


a.ok
{
    display:inline-block;
    background-color: #0C6;
    font-size: 20pt;
    color:#FFF;
    padding: 20PX;
}

/* Buttons */
a { text-decoration: none; }
a.ok:hover { background-color: #0B5; }
a.not_ok
{
    background-color: #F33;
    color:#FFF;
}
a.not_ok:hover{ background-color: #E22; }
a.search
{
    background-color: #06F;
    color: #FFF;
}
a.search:hover { background-color: #05E; }
a.download
{
    background-color: #06F;
    color: #FFF;
}
a.download:hover { background-color: #05E; }
a.button
{
    font-size: 20pt;
    padding: 20px;
}
a.button_small
{
    font-size: 15pt;
    padding: 10px;
}

/* Flags */
.language_flag
{
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
}

.pt { background-image: url("../img/flag_pt.png"); }
.en { background-image: url("../img/flag_uk.png"); }


/* Search page specific Styles */

#searchbox
{
    font-size: 17pt;
    width: 80%;
    height: 65px;
    border: none;
    margin-right: 10px;
}

#search_block
{
    margin-bottom: 10px;
    background-color: #699;
    width:80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#search_results
{
    margin-top: 10px;
    padding: 20px;
    background-color: #FFF;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#results_header
{
    border-bottom: solid 1px #999;
    padding-bottom: 10px;
    width: 100%;
}

#results_summary
{
    text-align: left;
    width: 69%;
    vertical-align: top;
}

#filters
{
    text-align: right;
    width: 30%;
}

.result_cell
{
    border-bottom: solid 1px #999;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
    height: 60px;
    text-align: left;
    padding: 10px;
}


/* Review Specific css */

#entries_container
{
    display: table;
    width:100%;
    border-spacing: 10px;
}

.row
{
    display: table-row;
    height: 50px;
}

.left_col
{
    width: 20%;
    display: table-cell;

}

.right_col
{
    width: 80%;;
    display: table-cell;
}

.original_entry
{
    background-color: #366;
    font-size: 16pt;
    padding: 5px;
    color: #FFF;
}

.translated_entry
{
    background-color: #033;
    font-size: 16pt;
    color:#FFF;
    padding: 5px;
}


.lang
{
    background-color: #FFF;
    font-size: 16pt;
    padding: 5px;
    color: #000;
}

.padding_53
{
    padding-left: 53px;
}

.context_entry
{
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
    background-color: #699;
    font-size: 15pt;
}

.entry_container
{
    text-align: center;
    margin: 5px;
    position: relative;
}


.translate_input
{
    font-size: 17pt;
    border: none;
    padding: 5px;
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    color : #aaa;
}

.submit_buttons
{
    margin-top: 10px;
    margin-bottom: 10px;
}

