root { 
    display: block;
}

html, body {
    background-color: #CCC;
    font-family: arial, helvetica;
    height:100%;
    margin:0;
    padding:0;
}


/* Round Corners */
.rounded
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* Horizontal align */
.h_align
{
    display: inline-block;
}

.context_entry
{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
    background-color: #699;
    font-size: 15pt;
}

.entry_container
{
    
    text-align: center;
    margin: 5px;
    vertical-align: top;
}

.translate_input
{
    font-size: 17pt;
    border: none;
    padding: 5px;
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.original_entry
{
    background-color: #366;
    font-size: 16pt;
    padding: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.translated_entry
{
    background-color: #033;
    font-size: 16pt;
    color:#FFF;
    padding: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.centered_content
{
    min-height: 100%;
    background-color: #9CC;
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 30px;
    text-align: center;
}

.central_block
{
    text-align: center;
    margin: 20px;
}

.submit_buttons
{
    margin-top: 10px;
    margin-bottom: 10px;
}

a.ok
{
    display:inline-block;
    background-color: #0C6;
    font-size: 20pt;
    color:#FFF;
    padding: 20PX;
}

a
{
    text-decoration: none;
}

a.ok:hover
{
    background-color: #0B5;
}

a.not_ok
{
    display:inline-block;
    background-color: #F33;
    font-size: 20pt;
    color:#FFF;
    padding: 20PX;
}

a.not_ok:hover
{
    display:inline-block;
    background-color: #E22;
    font-size: 20pt;
    color:#FFF;
    padding: 20PX;
}

.title
{
    text-align: center;
}

/* Flags */

.language_flag
{
    height: 48px;
    padding-left: 48px;
    background-repeat: no-repeat;
}

.language_name
{
   position: absolute; top: 50%;
}

.language
{
    position: relative;
    height: 48px;
}

.pt { background-image: url("../img/flag_pt.png"); }
.en { background-image: url("../img/flag_uk.png"); }

